*{
    box-sizing: border-box;
}
body
{
    font-family: "Roboto";
   
}
a
{
    display: inline-block;
    text-decoration: none;
}
p
{
    color: black;
}
ul
{
    list-style: none;
    padding-left: 0;
}
header
{
    background-color: #EAAE00;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo
{
    width: 200px ;
}

header .container nav a
{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
header .container .paw
{
    display:none;
}
footer
{
    background-color: grey;
    color: white;

}
footer p
{
    color: white;
    margin-bottom: 30px;
}

footer a
{
    color: white;
}
footer .redes
{
    font-size: 20px;
    display: flex;
}
footer .redes a
{
    margin:0 7.5px;
}
footer ul li
{
    margin-bottom: 5px;
}
.boton
{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}
.boton.boton-amarillo 
{
    color:white;
    background-color:#FEC400;
    font-size: 20px;
    border: 1px solid white;
    
}
.boton.boton-cyan
{
    color:white;
    background-color: cyan;
    font-size: 20px;
}
.seccion
{
    padding-top: 60px;
    padding-bottom: 60px;
}
.cuadrado-perfecto
{
    width: 100%;
    padding-bottom: 100%;
    position: relative;

}
.cuadrado-perfecto img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.container
{
    width: 1140px;
    margin:  0 auto ;
    padding-right:15px;
    padding-left:  15px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-left: -15px;
}
.columna
{
    padding-right: 15px;
    padding-left: 15px;
}
.columna-33
{
    width: 33.33%;

}
.redes
{
    font-size: 20px;
    display: flex;
}
.redes a
{
    margin:0 7.5px;
    color: #FEC400;
}
#inicio
{
    margin: 0px 1px;
    width: 100%;
    background-color:#FEC400;
    color: white;
    padding-top: 100px;
    padding-bottom: 255px;
}
#inicio img
{
    position: absolute;
    width: 25%;
    left: 70%;
           
}
#inicio .bloque-inicio
{
   text-align: left;
   margin-right: 50%;
   width: 900px;
   
}
#inicio .bloque-inicio h1
{
    font-size: 35px;
    margin-left: 40px;
    margin-top: 40px;
}   
#inicio .bloque-inicio p
{   
    color:white;
    margin-left: 40px;
    
    
}
#inicio .bloque-inicio a
{
    margin-left: 40px;
    margin-right:40px ;
}
#servicios
{
    text-align: center;
    background-color:#FEC400;
    color: white;
    
}
#servicios p
{
    color:white;
}
#servicios .bloque-servicio
{
    border: 1px solid white;
}
#servicios .bloque-servicio .bloque-img-servicio
{

}
#servicios .bloque-servicio .bloque-img-servicio img
{
    width: 100%;
}
#servicios .bloque-servicio .bloque-contenido-servicio
{
    padding: 15px;
}
#servicios .bloque-servicio .bloque-contenido-servicio h3
{
    margin: top 0;
    font-size:25px;
}


@media(max-width:767px)
{
    body
    {
        font-size: 15px;
    }
    header .container nav
    {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #FEC400;
        padding-top:80px;
        padding-bottom: 80px;
        padding-right:15px;
        padding-left: 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100%);
    }
    header .container nav a
    {
        font-size: 30px;
        margin: 15px;
    }
    footer .redes
    {
        justify-content: center;
    }
    header .container .paw
    {
        display: block;
        font-size: 40px;
        color:white;
    }
    .container
    {
        width: 100%;
    }
    .columna-mobile-100
    {
        width: 100%;
    }
    .columna-mobile-50
    {
        width: 50%;
    }
    #inicio
    {
        height: 100vh;
    }
    #inicio .bloque-inicio
    {
       padding-right: 30px;
        width: 100%;
    }
    #inicio .bloque-inicio a
    {
        display: flex;
        margin-top: 45px;
    }
    #inicio img
    {
        display: none;
    }
    #servicios .bloque-servicio
    {
        margin-bottom: 15px;
    }






}




